In [2]:
#if a person salary is more than 100k based on job title, company and degree

In [5]:
#how to select the order of feature: compay -> job -> degree

# use an approach that gives high informaion gain in each split (low entropy)

In [6]:
# or use Gini Impurity

In [8]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Admin\Desktop\salaries.csv")

In [9]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [10]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [13]:
# convert company, job, degree to number using label encoder

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [18]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [21]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [22]:
from sklearn import tree

In [23]:
model = tree.DecisionTreeClassifier()

In [24]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [27]:
model.score(inputs_n, target)

#using the same dataset (not split) so accuracy is 1

1.0

In [30]:
model.predict([[2,0,1]])

C:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)