In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\homeprices2.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
#data preprocessing - handle missing data - fill median value
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [10]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
# create linear reg object
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

#area, beadrooms, age are independent variable; df.price is the target

LinearRegression()

In [14]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [15]:
reg.intercept_

221323.00186540443

In [20]:
# reg.predict([3000,3,40])
# reg.predict(np.array([3000,3,40]).reshape(-1, 1))

In [22]:
#3000,3,40
112.06244194*3000 + 23388.88007794*4 -3231.71790863*40 + 221323.00186540443

521797.1316519644